@charset "utf-8";

.img-valign {
  vertical-align: middle;
}

.menubar {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	background-color: rgba(8,10,95,1.00);
	z-index: 10;
}

.menubar .item {
	float: right;
	height: 100px;
	margin-top: 40px;
}

.menubar .item .text {
	color: whitesmoke;
	text-align: center;
	margin-right: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	vertical-align: bottom;
	text-shadow: 0px 2px 20px rgba(0,0,0,1.00);
	font-size: 25px;
}

.menubar .item .text a {
	text-decoration: none;
	color: whitesmoke;
}

.menubar .item .text a:hover {
	text-decoration: none;
	color: greenyellow;
}

.menubar .item .text .selected {
	color: greenyellow;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	color: dimgrey;
	font-size: 1vw;
	margin-top: 25px;
	right: 0;
}

.header {
	width: 100%; height: 600px;
	background: url('../images/sfondo.jpg') no-repeat center top;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header .container {
	background-color: rgba(0,0,255,0.30);
	width: 100%;
	height: 100%;
}

.header h1 {
	margin-top: 250px;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 8vw;
	font-family: "Arial Black", Gadget, sans-serif;
}

.header h2 {
	font-size: 3vw;
	color: white;
	text-align: center;
	font-family: "Arial", Gadget, sans-serif;
}

#plus {
	color: greenyellow;
}

.blankSpace {
	height: 100px;
	width: 100%;
}

.main {
	width: 100%;
	height: 100%;
	background-color: white;
	color: rgba(8,10,95,1.00);
}

.main h1 {
	text-align: center;
	color: rgba(8,10,95,1.00);
	font-family: "Arial", Gadget, sans-serif;
	font-size: 3vw;
	font-weight: bold;
}

.centeredPar {
	font-family: "Arial", Gadget, sans-serif;
	text-align: center;
	font-size: 25px;
	color: rgba(8,10,95,1.00);
}

.paragraphStyle {
	font-family: "Arial", Gadget, sans-serif;
	text-align: left;
	font-size: 20px;
	width: 100%;
	color: rgba(8,10,95,1.00);
	border: 10px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	resize: vertical;
	overflow: auto;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	text-align: center;
}

.footerPar {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
}
