<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Travlendar+</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>
    <img src="images/logo.png" class="logoImg" width="10%" alt="Travlendar+ Logo"/>
    <div class="title"><strong><em>Travlendar </em></strong>
        <div class="title plus"><strong>+</strong></div></div>
    <div class="menu">
        <div class="menuItem"><strong><a href="login">Log In</a></strong></div>
        <div class="menuItem"><strong><a href="#">Sign Up</a></strong></div>
        <div class="menuItem"><strong><a href="#">About Us</a></strong></div>
        <div class="menuItem active"><strong><a href="#">Home</a></strong></div>
    </div>
</header>

<main>
    <h1>Welcome to the Travlendar+ Website</h1>
    <p>
        This will be your personal secretary application<br>
        Stay Tuned to receive more info!
    </p>
</main>


</body>
</html>
