<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travlendar+</title>
</head>
<body>

    <h1 align="center">Travlendar+ Login Page</h1>
    <form id="loginForm" method="post">
        <label>E-Mail</label>       <input type="text" id="email"></br>
        <label>Password</label>     <input type="Password" id="password"></br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>