<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento senza titolo</title>
<link href="styles/style.css" rel="stylesheet" type="text/css">
<link href="styles/flatly.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
</head>

<body>
	<div id="calendar" style="width: 50%; height: 50%; margin-left: 20%;"></div>
	
	<script>
		
		$(document).ready(function() {
			$("#calendar").fullCalendar({
				themeSystem: "standard",
				eventLimit: true,
				editable: true,
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek'
				},
			});
		});
	
	</script>
	
</body>
</html>
